---
import Posts from '../components/Posts.astro';
import Guitarra from '../components/guitarra.astro';
import Layout from '../layouts/Layout.astro';

const urlGuitarras = `${import.meta.env.PUBLIC_API_URL}/guitarras?populate=imagen`
const urlBlog = `${import.meta.env.PUBLIC_API_URL}/posts?populate=imagen`

const [resGuitarras, resBlog] = await Promise.all([
	fetch(urlGuitarras),
	fetch(urlBlog),
])

const [{data: guitarras}, {data: posts}] = await Promise.all([
	resGuitarras.json(),
	resBlog.json()
])
---

<Layout title="Inicio" description='Página de tienda de instrumentos musicales, guitarras, cursos, blog y más'>
	<main class="contenedor">
		<h1 class="heading">Nuestra Colección</h1>

		<div class="grid">
			{guitarras?.map(guitarra => (
				<Guitarra
					nombre={guitarra.attributes.nombre}
					descripcion={guitarra.attributes.descripcion}
					url={guitarra.attributes.url}
					precio={guitarra.attributes.precio}
					imagen={guitarra.attributes.imagen.data.attributes.formats.medium.url}
				/>
			))}
		</div>
	</main>

	<section class="contenedor">
		<h2 class="heading">Blog</h2>
		<div class="grid">
			{posts?.map(posts => (
				<Posts
					titulo={posts.attributes.titulo}
					publishedAt={posts.attributes.publishedAt}
					contenido={posts.attributes.contenido}
					imagen={posts.attributes.imagen.data.attributes.formats.medium.url}
					url={posts.attributes.url}
				/>
			))}
		</div>
	</section>
</Layout>

<style>

</style>
